/* info section */
#info {
	background-color: rgb(253, 253, 150); 
	text-align: center;
	height: 1100px; 
}

.infoPic {
	width: 60%;
	margin: 0 3%; 
	transition: transform .3s; 
    margin-bottom: 2em; 
}

/* footer */ 
footer {
	position: bottom; 
	background-color: #252526; 
	height: 520px; 
	width: 100%; 
	margin-top: 5em; 
	overflow:hidden; 
}
#mapPic {
	position:relative; 
	left: 40%; 
	width: auto; 
	height:20em; 
	margin-bottom: 2em; 
	overflow:hidden; 
}
#footerContent { 
	font-size: 20px; 
	color: rgb(253, 253, 150);
	text-align: center; 
	line-height: 40px; 
	
}



